/* ===== Custom fonts ===== */
@font-face {
	font-family: QuarterFree;
	src: url("../fonts/Quarter-Free-BF66fe9906c9172.otf");
}

@font-face {
	font-family: Rumaila;
	src: url("../fonts/Rumaila-BF66f66ad473692.otf");
}

/* ===== Variables definition ===== */
:root {
	--bu-text: #4c5156;
	--bu-bg: #e4e4da;
	--bu-accent: #e02a29;
	--bu-divider: #ebd800;
}

/* ===== Scrollbar CSS ===== */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: var(--bu-bg);
}

::-webkit-scrollbar-thumb {
	opacity: 0;
	background-color: var(--bu-text);
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--bu-divider);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--bu-accent);
}

/* ===== Styles for HTML tags ===== */
/* Default styles (desktop) */
body {
	background-color: var(--bu-bg);
	color: var(--bu-text);
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	flex: 1;
}

* {
	cursor: url("../images/Lego_Brick_Cursor.png"), auto;
}

a,
button,
button:not(:disabled),
.btn,
.form-check-input {
	cursor: url("../images/Lego_Man_Pointer.png"), pointer !important;
}

p,
div {
	font-family: Rumaila;
	color: var(--bu-text);
}

p {
	width: fit-content;
}

h1,
h2 {
	font-family: QuarterFree;
}

i {
	pointer-events: none;
}

a {
	text-decoration: none;
	color: #f49b00;
}

a:hover {
	color: #e02a29;
}

/* ===== Overriden Bootstrap styles ===== */
.btn-outline-secondary {
	--bs-btn-color: #4c5156;
	--bs-btn-border-color: #4c5156;
	--bs-btn-hover-color: #4c5156;
	--bs-btn-hover-bg: #ebd800;
	--bs-btn-hover-border-color: #4c5156;
	--bs-btn-active-color: #e4e4da;
	--bs-btn-active-bg: #e02a29;
	--bs-btn-active-border-color: #e4e4da;
	--bs-btn-bg: #e4e4da;
}

.card {
	--bs-card-border-color: var(--bu-text);
	--bs-card-bg: transparent;
}

.form-check-input {
	background-color: #e4e4da;
}

.form-check-input:checked {
	background-color: var(--bu-accent);
	border-color: var(--bu-accent);
}

.form-select {
	color: var(--bu-text);
	background-color: var(--bu-bg);
	border-radius: 1rem;
	border-color: var(--bu-text);
}

.nav {
	--bs-nav-tabs-border-color: var(--bu-bg);
	--bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef var(--bu-bg);
	--bs-link-color: var(--bu-text);
	--bs-link-hover-color: var(--bu-divider);
	--bs-nav-link-hover-color: var(--bu-divider);
}

.nav-tabs {
	--bs-nav-tabs-link-active-color: var(--bu-accent);
	--bs-nav-tabs-link-active-bg: var(--bu-bg);
	--bs-nav-tabs-link-active-border-color: var(--bu-bg) var(--bu-bg)
		var(--bu-accent);
}

.pagination {
	--bs-pagination-color: var(--bu-text);
	--bs-pagination-bg: transparent;
	--bs-pagination-border-width: 0px;
	--bs-pagination-border-radius: 1rem;
	--bs-pagination-hover-color: var(--bu-divider);
	--bs-pagination-hover-bg: var(--bu-bg);
	--bs-pagination-focus-color: var(--bu-accent);
	--bs-pagination-focus-bg: var(--bu-bg);
	--bs-pagination-active-bg: var(--bu-accent);
	--bs-pagination-disabled-color: var(--bu-bg);
	--bs-pagination-disabled-bg: var(--bu-bg);
}

/* ===== Styles for created classes & IDs ===== */
#loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		255,
		255,
		255,
		0.9
	); /* Slightly transparent white background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999; /* Ensure it stays on top of everything */
}

#loading-overlay img {
	width: 100vw; /* Adjust the size as needed */
	height: 100vh;
}

#lego-set-id-search {
	color: var(--bu-text);
	background-color: var(--bu-bg);
	border-radius: 1rem;
	border-color: var(--bu-text);
	width: fit-content;
}

.auth-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-top: 0.5rem;
}

.welcome-message {
	font-family: QuarterFree;
	color: var(--bu-text);
	font-size: 1.2rem;
}

.auth-prompt {
	font-family: QuarterFree;
	color: var(--bu-accent);
	font-size: 1.2rem;
}

.auth-prompt:hover {
	color: #d00000;
}

/* Authentication Forms */
.auth-form {
	background-color: var(--bu-bg);
	color: var(--bu-text);
	border: 1px solid var(--bu-divider);
	border-radius: 8px;
	padding: 20px;
	margin: 20px auto;
	max-width: 400px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
	font-family: QuarterFree;
	color: var(--bu-accent);
	margin-bottom: 20px;
}

.auth-form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid var(--bu-divider);
	border-radius: 4px;
	background-color: var(--bu-bg);
	color: var(--bu-text);
}

.auth-form input:focus {
	border-color: #f49b00;
	background-color: var(--bu-bg) !important;
	color: var(--bu-text) !important;
}

.auth-form input:-webkit-autofill,
.auth-form input:-webkit-autofill:focus {
	background-color: var(--bu-bg) !important;
	color: var(--bu-text) !important;
	-webkit-box-shadow: 0 0 0px 1000px var(--bu-bg) inset;
	-webkit-text-fill-color: var(--bu-text) !important;
	box-shadow: 0 0 0px 1000px var(--bu-bg) inset;
}

.auth-form button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: var(--bu-accent);
	color: #e4e4da;
	font-size: 16px;
	cursor: pointer;
}

.auth-form button:hover {
	background-color: #d00000;
}

.items {
	height: 60vh;
}

.favorite-btn {
	padding: 0;
	margin-right: 0.375rem;
	margin-left: 0.375rem;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	width: fit-content !important;
}

.filter {
	font-size: small;
	border-radius: 1rem;
	width: fit-content;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.clamp-2-lines {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5rem;
	height: 4.5rem; /* 3 lines line-height */
}

.deal-tab,
.auth-prompt {
	cursor: url("../images/Lego_Man_Pointer.png"), pointer !important;
	color: #f49b00;
}

.deal-tab span {
	cursor: inherit;
}

.deal-tab:hover {
	color: var(--bu-accent);
}

.img-thumbnail {
	max-height: 100px;
}

/* Countdown container styles */
#countdown-container {
	text-align: right;
	margin-top: 5px; /* Space between toggle and countdown */
}

/* Countdown text */
#countdown-text {
	font-size: 0.8rem; /* Match font size with toggle label */
	color: var(--bu-text); /* Light gray for text */
	opacity: 0.4;
	margin: 0;
}

/* Countdown numbers */
#countdown {
	font-size: 0.8rem;
	font-weight: normal;
	opacity: 0.5;
	margin: 0;
}

/* Styling for countdown numbers */
#countdown span {
	font-weight: bold;
}

.relevance-badge {
	background-color: rgba(235, 216, 0, 0.1) !important;
	color: var(--bu-text);
}

/* Highlight publication date if the deal is expiring soon */
.text-danger p {
	font-weight: bold;
}

/* ===== Modal Custom Styles ===== */
.modal-content {
	background-color: var(--bu-bg); /* Use background color from your palette */
	color: var(--bu-text); /* Use text color from your palette */
	border: none; /* Remove border for a cleaner look */
	border-radius: 8px; /* Rounded corners for a modern look */
	max-height: 80vh; /* Limit modal height to 80% of the viewport height */
	overflow-y: auto;
}

/* Modal Header */
.modal-header {
	background-color: var(--bu-accent); /* Accent color for the header */
	color: #e4e4da; /* White text for contrast */
	border-bottom: 1px solid var(--bu-divider); /* Divider color for separation */
}

.modal-title {
	font-family: QuarterFree;
	font-weight: bold; /* Make the title bold */
	color: #e4e4da; /* White text color */
}

/* Accordion Custom Styles */
.accordion-button {
	background-color: var(--bu-bg); /* Use background color from your palette */
	color: var(--bu-text); /* Use text color from your palette */
	border: 1px solid var(--bu-divider); /* Divider color for separation */
}

.accordion-button:not(.collapsed) {
	background-color: var(--bu-accent); /* Accent color when expanded */
	color: #e4e4da; /* White text color */
}

.accordion-button:focus {
	box-shadow: var(--bu-accent); /* Accent color for focus state */
	border-color: var(--bu-divider); /* Accent color for focus state */
}

.accordion-body {
	background-color: var(--bu-bg); /* Use background color from your palette */
	color: var(--bu-text); /* Use text color from your palette */
	text-align: left; /* Align text to the left */
}

.accordion-item {
	border-color: var(--bu-divider); /* Divider color for separation */
}

/* Modal Body */
.modal-body {
	background-color: var(--bu-bg); /* Background color from your palette */
	color: var(--bu-text); /* Text color from your palette */
}

/* Modal Footer */
.modal-footer {
	background-color: var(--bu-bg); /* Divider color for the footer */
	border-top: 1px solid var(--bu-text); /* Border for separation */
}

/* Buttons in the modal */
.modal-footer .btn {
	background-color: var(--bu-accent); /* Accent color for button background */
	color: #e4e4da; /* White text for buttons */
	border: none; /* Remove button border */
}

.modal-footer .btn:hover {
	background-color: #d00000; /* Darker shade for hover effect */
}

footer {
	margin-top: auto; /* Push footer to the end */
	background-color: #343a40; /* Ensure consistent style */
	color: white;
}

footer a {
	color: #ffc107;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer hr {
	border-color: rgba(255, 255, 255, 0.1);
}

footer i {
	font-size: 1.2rem;
}

footer .social-icons a {
	margin-right: 10px;
}

/* Mobile Styles (max-width: 576px) */
@media (max-width: 576px) {
	header h1 {
		font-size: 1.5rem;
		text-align: left;
	}
	header img {
		width: 60px;
		height: 60px;
	}
	.nav-tabs h2 {
		font-size: 1rem;
	}
	/* .col-2 {
		display: none;
	} */
	.col {
		width: 100%;
		padding: 0 10px;
	}

	#filters .row {
		justify-content: center !important;
	}

	.card {
		width: 100%;
		margin: 10px 0; /* Add margin between cards */
	}

	.favorite-btn-container {
		width: inherit !important;
		padding-left: 0;
	}

	.pagination {
		flex-wrap: wrap;
		justify-content: center;
		position: static; /* Ensure pagination is positioned correctly */
		margin-top: 1rem; /* Add some space above the pagination */
	}
	#see-deal-btn {
		display: none !important; /* Hide the "See deal" button on small screens */
	}

	.modal-dialog {
		width: 100%; /* Use full screen width */
		margin: 0; /* Remove default margin */
	}
}
*/ .modal-header {
	display: flex;
	justify-content: center; /* Center the title */
	flex-wrap: wrap;
	text-align: center;
}
.modal-header h5 {
	font-size: 1.4rem;
	margin-bottom: 10px; /* Space between title and close button */
}
.modal-body {
	font-size: 0.9rem;
	text-align: center;
}
#modalDealInfo img {
	width: 90%; /* Reduce image size */
	height: auto;
	margin-bottom: 15px; /* Add spacing below image */
}
#modalSalesInfo {
	/* display: flex;
		flex-direction: column; Stack cards vertically */
	gap: 15px; /* Add spacing between cards */
	justify-content: center;
	align-items: center; /* Center-align the cards */
}

#modalSalesInfo .card {
	width: 90%; /* Set card width to occupy most of the screen */
	max-width: 300px; /* Set a reasonable maximum width */
	text-align: center; /* Center-align content inside cards */
	padding: 10px; /* Add padding for better spacing */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow for a modern look */
	border-radius: 8px; /* Add rounded corners */
	background-color: var(--bu-bg); /* Match the modal background color */
}

#modalSalesInfo .card h5 {
	font-size: 1rem; /* Adjust font size for smaller devices */
	margin-bottom: 5px;
}

#modalSalesInfo .card img {
	width: 80px; /* Make images smaller */
	height: auto;
	margin-bottom: 10px;
}

#modalSalesInfo .card .badge {
	font-size: 0.9rem; /* Adjust badge size */
}

#modalSalesInfo .card p {
	font-size: 0.9rem; /* Adjust text size */
	margin: 5px 0;
}
.modal-footer {
	flex-direction: column; /* Stack footer elements */
	gap: 10px; /* Add spacing between links/buttons */
}
.modal-footer a {
	font-size: 0.8rem;
}
.modal-footer button {
	font-size: 1rem;
	padding: 10px; /* Adjust button size */
}

/* Tablet Styles: Ensure cards adjust to 2 or 3 columns dynamically */
@media (min-width: 577px) and (max-width: 1024px) {
	header h1 {
		font-size: 1.5rem;
		text-align: center;
	}
	header img {
		width: 60px;
		height: 60px;
	}
	.nav-tabs h2 {
		font-size: 1rem;
	}
	/* .col-2 {
		display: none;
	} */
	.col {
		width: 100%;
		padding: 0 10px;
	}

	.favorite-btn-container {
		width: inherit !important;
		padding-left: 2px;
	}

	.items .col-12 {
		width: 48%; /* Two cards per row on medium tablets */
		margin: 1%; /* Add spacing between cards */
	}

	.img-container {
		flex: 1 0 auto;
	}

	#see-deal-btn {
		display: none !important; /* Hide the "See deal" button on small screens */
	}

	#options-column {
		flex: 0 0 auto;
		width: 100%;
	}

	.modal-dialog {
		width: 90%; /* Slightly larger modal for tablets */
	}
	.modal-header h5 {
		font-size: 1.4rem; /* Adjust title size */
	}
	.modal-body {
		font-size: 1rem; /* Adjust body text size */
	}
	#modalSalesInfo {
		gap: 15px; /* Adjust gap for tablets */
	}
	canvas {
		max-width: 100%; /* Ensure chart resizes to fit screen */
	}
}

/* Large Tablet Styles (1025px - 1366px): Up to 3 cards per row */
@media (min-width: 1025px) and (max-width: 1366px) {
	.items .col-12 {
		width: 31%; /* Three cards per row */
		margin: 1%; /* Add spacing between cards */
	}

	#see-deal-btn {
		display: none !important; /* Hide the "See deal" button on small screens */
	}

	.modal-dialog {
		max-width: 800px; /* Standard large modal size */
	}
	.modal-header h5 {
		font-size: 1.6rem; /* Larger title */
	}
	.modal-body {
		font-size: 1.1rem; /* Adjust body text size */
	}
}

/* Desktop Styles (min-width: 1367px) */
@media (min-width: 1367px) {
	.items .col-12 {
		width: 33%; /* Three cards per row on desktop */
	}

	.card {
		margin: 10px auto; /* Center cards and add margin between them */
	}
	.pagination {
		justify-content: flex-end;
		position: static; /* Ensure pagination is positioned correctly */
		margin-top: 1rem; /* Add some space above the pagination */
	}
}

/* ===== Dark mode ===== */
body.dark-mode {
	--bu-text: #e4e4da;
	--bu-bg: #4c5156;
	--bu-accent: #e02a29;
	--bu-divider: #ebd800;
}
